header{
    background-color: #06243D;
    /* background-color: #001b3a; */
    /* background-color: #0C2A43; */
}
.navbar-brand h1{
    padding-left: 30px;
}
/*navbar*/
.navbar{
    margin-top: -5px;
    margin-bottom: -5px;
}
#nav-btn{
    width: 1em;
    height: 1em;
}
#menubar{
    justify-content: space-evenly;
    margin-top: 10px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link
{
    color:orange;
}

 .navbar-light .navbar-nav .nav-link:hover{
    background-color: antiquewhite;
    
}
.navbar-light .navbar-toggler-icon 
{
    background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 4 28 28'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler,
.navbar-toggler:focus
{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    padding-right: 5px;
}
#tg,#tgsm{
    color: rgb(245, 245, 245);
}


/*megamenu*/
/* #megamenu{
    background-color: #ebe9e9;
    position: absolute;
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: -12px;
    border: 1px solid black;
} */
/* temp */
.megamenu{
    background-color: #ebe9e9;
    position: absolute;
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: -10px;
    border: 1px solid black;
}

#nav-item-dropdown{
    position: static !important;
}
.megamenu-row{
    margin-left: 0px;
    margin-right: 0px;
    
}
.megamenu-col-1{
    width: 100%;
    flex: 0 0 auto;
}
.megamenu-col-2{
    width: 50%;
    flex: 0 0 auto;
}
.megamenu-col-3{
    width: 33.33%;
    flex: 0 0 auto;
}
.megamenu-col-4{
    width: 25%;
    flex: 0 0 auto;
}
.megamenu-col-5{
    width: 20%;
    flex: 0 0 auto;
}
.megamenu-col-6{
    width: 16.66%;
    flex: 0 0 auto;
}
.megamenu-col-8{
    width: 12.5%;
    flex: 0 0 auto;
}
#megamenu-title{
    margin-bottom: 0px;
}
.megamenu-list li a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

/* .redbg{
    background-color: #FF3B3E;
} */

/*side menu mobile*/
.opensidepanel{
    width: 250px !important;
}
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #001b3a;
    overflow-x: hidden;
    transition-delay: 0.2s;
    transition: 0.8s;
    padding-top: 40px;
    height: 100%;
    background-color: black;
    background-size: 100% 100%;
}
.closebtn{
    padding-top: 15px;
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
/*animation of close button*/
.closebtnclose{
    animation-name: crossrotate;
    animation-duration: 0.6s;
}
@keyframes crossrotate{
    100%{transform : rotate(-360deg)};
}
.closebtnopen{
    animation-name: crossopen;
    animation-duration: 00.7s;
}
@keyframes crossopen{
    100%{transform : rotate(360deg)};
}
/*nav-link*/
 .nav-link {
    color: orange;
    padding-left: 0px ;
    text-decoration: none;
    text-align: center;
    font-size: 15PX;
}
.nav-item a:hover {
    background-color: whitesmoke!important;
    color: #FF3B3E !important;
}
.nav-item a.show {
    color:whitesmoke!important;
    background-color: #FF3B3E!important;
    border: 1px solid black;
  }
  .nav-item{
      position: static!important;
  }

/*title*/
.brand {
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
}
/*animation*/
.brand-open{
    animation-name: sideh1open;
    animation-delay: 1 s;
    animation-duration: 1.2s;
}
@keyframes sideh1open{
    0%{font-size: 0px;}
}
.brand-close{
    animation-name: sideh1close;
    animation-duration: 0.5s;
}
@keyframes sideh1close{
    100%{font-size: 0px;}
}


/* search */
#search-mobile{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    /* padding-right: 5px; */
}
#search-icon{
    color: whitesmoke;
}
#search-bar{
    margin-left: 10px;  
    margin-right: 9px; 
    margin-bottom: 5px;
}
#search-btn{
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.search-li *{
    display: inline-grid;
}
.search-li div{
    vertical-align: middle;
    width: calc(100% - 55px);
}
#resultm{
    padding-left: 0px;
    margin-top: 2px;
    border-radius: 10px;
}
.list-group-item{
    border: 1px solid black;
}
#resultt{
    padding-left: 0px;
    margin-top: -10px;
    border-radius: 10px;
    width: 50%;
    margin-left: 47%;
}
#result{
    width: 97%;
    margin-left: 2%;
    border-radius: 10px;
    margin-top: -50px;
}
/*media query*/



/*1 : extra small devices*/
@media (max-width: 575.98px) { 
    header{
        padding-bottom: 10px;
    }
    .navbar{
        padding-bottom: 0px;
    }
    .nav-link{
        margin-top: 15px;
    }
    body{
        background-color: whitesmoke;
    }
    .navbar-brand h1{
        padding-left: 12px;
    }
    /* .dropdown-menu {
        margin-left: 20px !important;
        background-color: gray;
      } */
    #search-bar{
        height: 30px;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

/*2 : small devices*/
@media (min-width: 576px) and (max-width: 767.98px) {  
    header{
        padding-bottom: 15px;
    }
    .navbar{
        padding-bottom: 0px;
    }
    .nav-link{
        margin-top: 15px;
    }
    .dropdown-menu {
        margin-left: 20px !important;
        background-color: gray;
      }
    body{
        background-color: whitesmoke;
    }
    .navbar-brand h1{
        padding-left: 12px;
    }
    #nav-sm{
        display: flex!important;
    }
    #search-bar-sm{
        padding-right: 10px;
    }
}

/*3 : medium devices*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .megamenu{
        margin-top: -15px;
    }
}

/*4 : large devices*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #megamenu{
        margin-top: -9px;
    }
}

/*5 : extra large devices*/
@media (min-width: 1200px) { 
    
    #megamenu{
        margin-top: -8px;
    }
}

@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: block!important;
}
.navbar{
    padding-bottom: 0px;
}
#main_navbar{
    padding-top: 0px;
    padding-bottom: 5px;
}
}