body{
    background-color: #001b3a;
}

/*navbar*/
#main_navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}
#menubar{
    margin-right: 25px!important;
    margin-left: auto!important;
}
.nav-link{
    color:darkgoldenrod!important;
}
